.login-register-pai{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;


}



.login-register{
    background-color: white;
    position: relative;
    z-index: 0;

    form{
        width: 30%;
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);

        .formulario{
            gap: 10px;



            .requisitos{
                display: flex;
                flex-direction: column;
                gap: 5px;
                border-radius: 10px;
                padding: 10px;
                border-left: solid 2px #c5c5c5; 
                background-color: #f7f7f7;

                p{
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    gap: 4px;

                }
            }
            .colaborador{
                border-left: solid 2px #f9c560;
                background-color: #fef3c7;
            }
 

        }
    }

}

@media (max-width: 768px) {
    .login-register-pai{
        .aviso{
            width: 95%;
        }
        .sucess{
            width: 95%;
        }
    
        .login-register{
            form{
                width: 95%;
            }
        }
    }
}


.createClientPage{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .loading{
        width: 100vw;
        height: 100vh;
        display: flex;
        position: fixed;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;


        .icon-spin{
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            to { transform: rotate(360deg); }
        }

    }


}

.loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;


    .icon-spin{
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        to { transform: rotate(360deg); }
    }

}



.aviso{
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 99;

    align-items: center;
    justify-content: center;
    text-align: center;

    width: 35%;
    min-height: 40%;

    background-color: crimson;
    z-index: 100;
    border-radius: 20px;

    font-size: 30px;
    gap: 10px;
    color: white;
    padding: 10px;

    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.5);

    .voltar-aviso{
        color: red;
        padding: 5px;
        background-color: white;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 5%;

        font-weight: bold;

        font-size: 20px;
    }
    
}
.sucess{
    position: absolute;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99;

    width: 35%;
    min-height: 40%;

    background-color: #35af70;
    z-index: 100;
    border-radius: 20px;

    font-size: 30px;
    gap: 10px;
    color: white;
    padding: 10px;

    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.2);


    .voltar-aviso{
        color: green;
        padding: 5px;
        background-color: white;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 5%;

        font-weight: bold;

        font-size: 20px;
    }
}