.navTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:white;
    border-bottom: solid 3px royalblue;

    width: 100svw;
    height: 100px;
    padding-inline: 7%;

    font-size: 9pt;

    ul {
        list-style: none;
        display: flex;
        width: 100%;
        padding: 2%;

        justify-content: space-between;
        align-content: space-between;
        align-items: center;



        .building{
            display: flex;
            flex-direction: row;
            
        }

        .mount{
            font-weight: bold;

            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;



            .hourGlass{
                font-size: 14pt;
                background-color: palegoldenrod;
                border-radius: 10%;
            }
            .exit{
                font-size: 10pt;
                background-color: rgb(241, 241, 241);
                padding: 10px;
                border-radius: 10%;
                cursor: pointer;
            }

            .user{
                p{
                    font-weight: normal;
                    font-size: 8pt;
                    color: rgba(0, 0, 0, 0.692);

                }
                background-color: rgba(135, 206, 250, 0.397);
                border-radius: 10px;
                padding: 10px;
                display: flex;
                gap: 10px;

                div{
                    display: flex;
                    justify-content: center;


                    flex-direction: column;
                }
                img{
                    border-radius: 50%;
                    border: solid 2px #b1ccf8;

                    background-size: cover;

                }

            }

        }
    }
}

.navSide{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: solid 3px royalblue;

    width: 100vw;

    font-size: 12pt;
    padding-inline: 7%;
    overflow-x: auto;



    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 1%;
        align-items: center;

        gap: 5%;

        @media (max-width: 768px) {
            gap: 10%;
        }
        
        li{
            display: flex;
            flex-direction: row;
            
            a{
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: end;
                gap:5px;

                text-decoration: none;
                color: black;
            }

            @media (max-width: 768px) {
                p{
                    display: none;

                }
            }
        }
        
    }
}

@media (max-width: 768px) {
    

    .navTop{
        padding-inline: 1%;
        h1{
            font-size: 11pt;
        }
        p{
            font-size: 6pt;
        }


    }

    .navSide{
        padding-inline: 2%;
    }
}

