.resumo{
    background: #2A7B9B;
    background: linear-gradient(90deg, rgb(118, 120, 255) 0%, rgb(111, 83, 253) 84%);
    padding: 1rem;
    border-radius: 8px;
    color: white;

    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);

    div{
        display: flex;
        flex-direction: column;


        margin-top: 10px;
        background-color: white;
        color: black;
        padding: 0.5rem;
        border-radius: 10px;

        font-family: sans-serif;

        p{
            margin-bottom: 10px;
            font-size: 14px;
        }
    }
}