.resumoSemanal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;


    div{
        display: flex;
        flex-direction: column;

        margin-top: 10px;
        color: rgba(0, 0, 0, 0.651);
        padding: 0.5rem;
        font-family: sans-serif;

        border-radius: 15px;
        width: 250px;
        height: 100px;

        background-color: white;
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
        
        h3{
            font-size: 3rem;
        }
        p{
            font-size: 1.2rem;
            font-weight: bold;
        }

    }

    .alta{
        border-left: solid 4px #f47777;
    }
    .media{
        border-left: solid 4px #f9c560;
    }
    .baixa{
        border-left: solid 4px #69d7af;
    }
    .total{
        border-left: solid 4px #77a9f9;
    }
}

@media (max-width: 768px) {
    .resumoSemanal{
        flex-wrap: wrap;


        div {
            width: 47%;
            height: 100px;
        }
    }

  }