.resumoDia{
    background-color: #f0f8ff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.resumoMatinal{

    
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;

    div{
        display: flex;
        flex-direction: column;

        margin-top: 10px;
        color: rgba(0, 0, 0, 0.651);
        padding: 0.5rem;
        font-family: sans-serif;

        border-radius: 15px;
        width: 250px;
        height: 100px;
        
        h3{
            font-size: 3rem;
        }
        p{
            font-size: 1.2rem;
            font-weight: bold;
        }

    }

    .media{
        background-color: #fef3c7;
        border-left: solid 4px #f9c560;
    }
    .alta{
        background-color: #fee2e2;
        border-left: solid 4px #f47777;

    }    
    .baixa{
        background-color: #d1fae5; 
        border-left: solid 4px #69d7af;
    }
    .total{
        background-color: #dbeafe;
        border-left: solid 4px #77a9f9;
    }
    .hoje{
        width: 100%;
        background-color: #ebebeb;
        border-left: solid 4px #a8a8a8;

    }
}

@media (max-width: 768px) {
    .resumoMatinal{

        div{
            width: 47%;
            height: 100px;
            justify-content: space-between;

            h3{
                font-size: 2rem;
            }
        }
    }
}

