

.calendar{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    color: rgb(0, 4, 29);

    padding: 10px;
    height: 500px;
}



.react-calendar,
.react-calendar * {
  box-sizing: border-box;
  display: grid;
  flex-wrap: nowrap;

  height: 100%;
}

.react-calendar abbr {
  text-decoration: none;
  cursor: default;
}

.react-calendar__tile {
  box-sizing: border-box;
}



.react-calendar__month-view__weekdays__weekday {
    font-weight: bold;
    color: rgb(0, 4, 29);
    text-align: center;
    text-decoration: none;
}

.react-calendar__navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    

    
}

.react-calendar__navigation button {
  border: solid 1px #e0e0e0;
    padding: 5px;
    gap: 3px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
    height: min-content;
}

.react-calendar {
    width: 100%;
    max-width: 100%;


    font-family: sans-serif;
}

.react-calendar__month-view__days {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  height: 100%;




    .tarefa{
      box-shadow: inset 0 0 0 2px #f9c560;
      background-color: #fef3c7;
      border: 4px solid white;
    }




  }

  .react-calendar__month-view__days__day {
    border: 4px solid transparent;
    background-color: transparent;
    white-space: nowrap;
    box-shadow: inset 0 0 0 2px #f1f3f8; 
    border-radius: 10px;

    font-weight: bold;
    font-size: 15px;

    min-width: 0 !important;
    min-inline-size: 0 !important;
    width: 100%;

    padding: 8px;
    height: 70px;
    cursor: pointer;

    display: flex;

    span{
      color: #92753c;
      height: min-content;

      padding: 2px 4px;
      margin-top: auto;
      margin-left: auto;
    }
  }
